<nav class="navbar">

  <div class="logo">
    Om <span>Portfolio</span>
  </div>

  <div class="nav-right">

    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/poems">Poems</a>
      <a routerLink="/gallery">Gallery</a>
      <a routerLink="/about">About</a>
    </div>

    <button class="theme-toggle" (click)="toggleTheme()">
      <span *ngIf="!darkMode">🌙</span>
      <span *ngIf="darkMode">☀️</span>
    </button>

  </div>

</nav>

<router-outlet></router-outlet>