<!-- Hero section -->
 <section class="hero">
<h1>Capturing the <span>Essence</span> of Moments</h1>
<p>Through the lens of creativity and structure.</p>
<button routerLink="/gallery">View Portfolio</button>
</section>

<!--Poems Preview-->
<section class="preview-section">
  <h2>Latest Poems</h2>

  <div class="poem-card" *ngFor="let poem of poems">
    <h3>{{ poem.title }}</h3>
    <p>{{ poem.content}}</p>
    </div>

    <button routerLink="/poems">View More Poems</button>
    </section>

<!--Gallery Preview-->
<section class="preview-section">
<h2>Latest Photos</h2>
<div class="gallery-preview">
  <div class="gallery-item" *ngFor="let photo of photos">
    <img [src]="'https://localhost:7076/'+ photo.imagePath"/>
  </div>
</div>
</section>