.hero {
  height: 90vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.hero h1 {
  font-size: 64px;
  margin: 0;
}

.hero span {
  color: var(--accent);
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  color: #94a3b8;
}

.hero button {
  width:fit-content;
  background: var(--accent);
  color: white;
  padding: 14px 40px;
  border: none;
  border-radius:40px;
}

.hero button:hover {
  background-color: #1d4ed8;
}
@media (max-width: 768px) {

  .hero {
    padding: 40px;
    text-align: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 38px;
  }

}