<section class="gallery-wrapper">

<h1>Gallery</h1>

<div class="carousel-scene">

<div class="carousel-track" [ngStyle]="getTrackStyle()">

<div
class="carousel-card"
*ngFor="let photo of carouselPhotos;let i=index"
[ngStyle]="getCardStyle(i)">

<img [src]="'https://localhost:7076/'+photo.imagePath">

</div>

</div>

</div>


<!-- pagination -->

<div class="pagination">

<button (click)="goToPage(1)" [disabled]="currentPage===1">
<<
</button>

<button (click)="goToPage(currentPage-1)" [disabled]="currentPage===1">
<
</button>

<button
*ngFor="let p of pageNumbers"
[class.active]="p===currentPage"
(click)="goToPage(p)">
{{p}}
</button>

<button (click)="goToPage(currentPage+1)" [disabled]="currentPage===totalPages">
>
</button>

<button (click)="goToPage(totalPages)" [disabled]="currentPage===totalPages">
>>
</button>

</div>

</section>